.BurgerControls{
    bottom:0;
    width:100%;
    background-color:teal;
    padding:4px;
    margin-top:16px;
    display:flex;
    align-items: center;
    flex-direction: column;
}

.CheckoutButton{
    margin:16px;
    align-self: center;
    width:150px;
    height:40px;
    background-color: greenyellow;
}